/*============ Background 1 ============*/
.main-button a,
.main-button a:hover,
.page-heading .text-content h4,
#preloader,
ul.page-numbers li.active a,
.blog-posts .submit-comment button,
.blog-posts .submit-comment button:hover,
.sidebar .tags ul li a:hover,
.contact-us .contact-form button,
.contact-us .contact-form button:hover,
.about-us ul li a:hover {
    background-color: #f48840;
}

/*============ Color 1 ============*/
.background-header .navbar-nav .nav-link:hover,
.background-header .navbar-nav .active > .nav-link,
.background-header .navbar-nav .nav-link.active,
.background-header .navbar-nav .nav-link.show,
.background-header .navbar-nav .show > .nav-link,
.navbar .navbar-brand h2 em,
.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .active > .nav-link,
.navbar .navbar-nav .nav-link.active,
.navbar .navbar-nav .nav-link.show,
.navbar .navbar-nav .show > .nav-link,
.navbar .navbar-toggler,
.owl-banner .item .item-content .meta-category span,
.owl-banner .item .item-content ul li a:hover,
.call-to-action .main-content span,
.blog-posts .down-content span,
.blog-posts .down-content ul.post-info li a:hover,
.blog-posts .down-content ul.post-tags li:first-child i,
.blog-posts .down-content ul.post-share li:first-child i,
.blog-posts .down-content ul.post-tags li a:hover,
.blog-posts .down-content ul.post-share li a:hover,
ul.page-numbers li a:hover,
.sidebar .recent-posts ul li h5:hover,
.sidebar .categories ul li a:hover,
footer ul.social-icons li a:hover,
footer p a,
footer p a:hover,
.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .active > .nav-link,
.navbar .navbar-nav .nav-link.active,
.navbar .navbar-nav .nav-link.show,
.navbar .navbar-nav .show > .nav-link {
    color: #f48840 !important;
}

/*============ Border ============*/
ul.page-numbers li.active a,
.sidebar .tags ul li a:hover {
    border-color: #f48840;
}
